.vim/.netrwhist
iba-vm
config/ranger/history
config/ranger/history.t
.minecraft/assets/
.minecraft/config/
.minecraft/forge-1.12.2-14.23.0.2486-installer.jar
.minecraft/forge-1.12.2-14.23.0.2486-installer.jar.log
.minecraft/hs_err_pid20331.log
.minecraft/hs_err_pid30965.log
.minecraft/launcher.jar
.minecraft/launcher.pack.lzma
.minecraft/libraries/
.minecraft/local/
.minecraft/logs/
.minecraft/mods/
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/psi_persistent/
.minecraft/realms_persistence.json
.minecraft/resourcepacks/
.minecraft/saves/
.minecraft/servers.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/versions/
