[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/i3-vim-syntax"]
	path = .vim/bundle/i3-vim-syntax
	url = git@github.com:PotatoesMaster/i3-vim-syntax.git
[submodule ".vim/bundle/vimwkiki"]
	path = .vim/bundle/vimwkiki
	url = https://github.com/vimwiki/vimwiki.git
